<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/logo.png', width: 130, height: 30, alt: 'RuTransfers'}"
  [navbarBrandMinimized]="{src: 'assets/favicon.png', width: 30, height: 30, alt: 'RuTransfers'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]= false> 
  
</app-header> 

<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
  
</div>
<app-footer>
    
  
    <span><a href="http://www.ru-transfers.com" target="_blank">RuTransfers</a> &copy; 2018</span>
    
        <div class="container">
            <div class="row">
              <div class="col-sm">
           
              <a mat-icon-button class="btn-facebook" href="https://www.facebook.com/rutransfers.ru/?ref=br_rs" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
          </div>
          </div>
        </div>

</app-footer>
