<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" (click)="isCollapsed1 = !isCollapsed1">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h5>Día 1. Moscú panorámica. Salida del hotel: 9 am</h5>
      </button>
      <div class="card-header-actions">
        <a href="https://valor-software.com/ngx-bootstrap/#/collapse" target="_blank">
          <small className="text-muted">docs</small>
        </a>
      </div>
    </div>
    <div class="card-body"
         (collapsed)="collapsed($event)"
         (expanded)="expanded($event)"
         [collapse]="isCollapsed1">
         <img src="../../../assets/img/panoramico.jpg" alt="Italian Trulli" style="width:250px;height:200px;" >
          
      <p>
        Entraremos a la catedral de San Basilio una de las catedrales más famosas del mundo, construida por Ivan el Terrible para conmemorar la captura de Kazan y Astrakhan en 1561. No puede decir que vino a Rusia si no visito está hermosa catedral. También conocerá la espectacular catedral de Cristo el Salvador que fue construida originalmente por el zar Alejandro II, para conmemorar la victoria sobre Napoleón en 1812. En 1931 fue destruida por Stalin y fue reconstruida con los planos originales en la decada de los noventa. 
        Visitaremos el interior del Kremlin la antigua residencia de los zares y ahora donde reside el presidente de Rusia. Contiene cinco palacios, cuatro catedrales, las torres del kremlin, y su imponente muralla. El Kremlin junto con la plaza roja son parte de la esencia de Rusia. Desde el rio Moscú tendremos una vista panorámica de la parte posterior de la histórica muralla del Kremlin. En la parte frontal veremos el monumento al soldado desconocido y la flama eterna. 
        </p>
    </div>
    <div class="card-footer">
      Sitios: El mausoleo de Lenin, la muralla del Kremlin, la catedral de San Basilio, el principal centro comercial de Rusia “GUM”, el Museo Estatal de Historia, las puertas de la Resurrección, La Catedral de Cristo Salvador. Incluye interiores: Del Kremlin y las catedrales de San Basilio y de Cristo Salvador. 
     
    </div>
  </div>

  <div class="card">
    <div class="card-header" (click)="isCollapsed2 = !isCollapsed2">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h5>Día 2. Moscú típico. Salida del hotel: 9 am</h5>
      </button>
      <div class="card-header-actions">
        <a href="https://valor-software.com/ngx-bootstrap/#/collapse" target="_blank">
          <small className="text-muted">docs</small>
        </a>
      </div>
    </div>
    <div class="card-body"
         (collapsed)="collapsed($event)"
         (expanded)="expanded($event)"
         [collapse]="isCollapsed2">
         <img src="../../../assets/img/parquedelavictoria.jpg" alt="Italian Trulli" style="width:250px;height:200px;" >
          
      <p>
        El Parque de la Victoria y el Museo de la Gran Guerra Patria son un memorial que conmemora los sacrificios de los pueblos de la Unión Soviética durante la Segunda Guerra Mundial. El obelisco en frente del museo tiene 141,8 metros de altura, que representa a los 1.418 días de la guerra. 
        Ahora una calle peatonal, la calle antigua Arbat es una de las calles más antiguas de Rusia. Mide un poco más de un km. de longitud y hoy en dia alberga interminables tiendas de souvenirs, restaurantes y el museo Pushkin. Es uno de los paseos más atractivos para disfrutar en primavera, verano y otoño.
      </p>
    </div>
    <div class="card-footer">
      Sitios: El parque de la Victoria, museo de la Gran Guerra Patria, la iglesia San Jorge, el arco del triunfo, la calle Arbat, tiendas de souvenirs, la estatua de Pushkin, la capilla de Boris y Gleb
    </div>
  </div>
  <div class="card">
    <div class="card-header" (click)="isCollapsed3 = !isCollapsed3">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h5>Día 3. Moscú acuático. Salida del hotel: 10 am</h5>
      </button>
      <div class="card-header-actions">
        <a href="https://valor-software.com/ngx-bootstrap/#/collapse" target="_blank">
          <small className="text-muted">docs</small>
        </a>
      </div>
    </div>
    <div class="card-body"
         (collapsed)="collapsed($event)"
         (expanded)="expanded($event)"
         [collapse]="isCollapsed3">
         <img src="../../../assets/img/octubrerojo.jpg" alt="Italian Trulli" style="width:250px;height:200px;" >
          
      <p>
          Tomaremos un crucero por el rio Moscú abordo del barco Radisson Royal. El recorrido pasará por muchos de los puntos más importantes de Moscó como el hotel Ukraina, estación de trenes Kievsky, convento Novodevichy, Universidad Estatal de Moscú, estadio Luzhniki, parque Gorky, catedral de Cristo Salvador, San Basilio, Kremlin. 
        </p>
    </div>
    <div class="card-footer">
      Hotel Ukrania, estación de trenes Kievsky, convento Novodevichy, Universidad Estatal de Moscú, estadio Luzhniki, parque Gorky, catedral de Cristo Salvador, San Basilio, Kremlin. 
    </div>
  </div>
</div>


